.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav {
    background: #292929;
    width: 220px;
}

mat-toolbar {
    background-color: #292929;
    background-size: cover;
    height: 64px;
    font-weight: 400;

    span {
        padding-left: 10px;
        color: white;
    }
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    /* Ensure that your app's content doesn't overlap the toolbar */
}
