mat-toolbar {
    background-color: #292929;
    background-size: cover;
    height: 64px;
    font-weight: 400;

    span {
        padding-left: 10px;
        color: white;
    }
}

mat-toolbar.sticky {
    position: sticky;
    position: -webkit-sticky;
    /* For macOS/iOS Safari */
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 1000;
    /* Ensure that your app's content doesn't overlap the toolbar */
}

div.container {
    padding: 24px;

    mat-form-field {
        width: 100%;

        input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button, input[type=number] {
            -webkit-appearance: none;
            -webkit-appearance: textfield;
            margin: 0;
        }
    }

    button { margin-top: 10px; }

    button.delete { float: right; }
}